iframe[src^="https://www.youtube"] {
    aspect-ratio: 16/9;
    height: auto;
}


@font-face {
    font-family: common-font;
    src: url("https://github.com/lxgw/LxgwWenKai-Lite/releases/download/v1.250/LXGWWenKaiLite-Regular.ttf") format("TrueType")
}


@font-face {
    font-family: ui-font;
    src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol")
}

:root {
    --ls-font-family: "Source Sans 3 VF", common-font, "Fira Code", ui-font, system-ui;
    --ct-code-font-family: "Fira Code", common-font, ui-font, system-ui !important
}