@import url("https://cdn.jsdelivr.net/gh/unickcheng/logseq-developer-theme@release/export.css");

iframe[src^="https://www.youtube"] {
    aspect-ratio: 16/9;
    height: auto;
}

code {
  font-variant-ligatures: contextual;
}
