iframe[src^="https://www.youtube"] {
    aspect-ratio: 16/9;
    height: auto;
}

:root {
    --ct-text-size: 16px;
    --ct-line-height: 1.6;
    --ls-font-family: "Only Emoji", "Source Sans 3 VF", "Source Han Sans VF", sans-serif;
    --ct-page-title-font-family: var(--ls-font-family);
    --ct-code-font-family: "Fira Code", monospace
}